<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
	<link rel="icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>error</title>
	<style type="text/css">
		html,body{
			background-image:url("empty-image.png");
			height: 100%;
			width: 100%;
			background-size:cover;
			background-repeat: no-repeat;
		}
		body {
		    font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
		}
		h1{
			
		color: white;	
			
		}
	</style>
</head>
<body>

<h1> 并没有符合您预期的结果，请更改搜索条件！</h1>

</body>
</html>