<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.houseSearch.mapper.orderMapper">

    <!-- 修改对应方式-->
    <resultMap id="house" type="com.example.houseSearch.bean.House">
        <result property="name" column="House_name" />
        <result property="position" column="house_position" />
        <result property="today" column="Today" />
        <result property="price" column="Price"/>
        <result property="height" column="Height"/>
        <result property="size" column="Size" />
        <result property="distance" column="Distance"/>
        <result property="destination" column="Destination" />
        <result property="shape" column="Shape" />
    </resultMap>

    <select id="getOrderByPriceBig" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Price
    </select>

    <select id="getOrderByPriceSmall" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Price DESC
    </select>

    <select id="getOrderByDistanceBig" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Distance
    </select>

    <select id="getOrderByDistanceSmall" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Distance  DESC
    </select>

    <select id="getOrderBySizeBig" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Size
    </select>

    <select id="getOrderBySizeSmall" resultMap="house" >
        select * from house where Today = #{today} and Destination = #{destination} order by Size  DESC
    </select>

<!--    <select id="getSearchByShape" resultMap="house" >-->
<!--        select * from house where Today = #{today} and Destination = #{destination} and Shape = #{shape}-->
<!--    </select>-->

<!--    <select id="getSearchByPrice" resultMap="house" >-->
<!--        select * from house where Today = #{today} and Destination = #{destination} and Price &lt;=  #{price} order by Price-->
<!--    </select>-->

</mapper>

<!-- 一些转义写法
 <  &lt;
 <= &lt;=
 > &gt;
 >= &gt;=

 -->